@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color:#222;

}

h2{
    font-size: 46px;
   line-height: 54px;
   color: #222;
}
h4{
    font-size: 20px;
    color:#222;

}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin:  15px 0 20px 0;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #222;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
boby{
    width:100%;
}

/*header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:#fff ;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
    position: static;
    top: 0;
    left: 0;

}

#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
   position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #e84393;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #e84393;
    position: absolute;
    bottom:-4px;
    left: 20px;
}
#mobile{
 display: none;
    align-items: center;

}
/*home pgae*/

#hero{
    background-image: url(background.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25%  right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 15px;
}
#hero p{
    color:black;
}
#hero button{
  
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: blanchedalmond;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

#hero button:hover{
background: #e84393;
 }

 #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 #feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
 }
  #feature .fe-box:hover{
       box-shadow: 10px 10px 54px rgba(0,0,0, 0.1);
  }
  #feature .fe-box img{
    width: 100%;
    margin-bottom: 20px;

  }
  
   #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px;
    line-height: 1;
    border-radius: 4px;
    color: #222;
   background-color: pink;
   }

   #product1{
    text-align: center;
   }
 #product1 .pro-container{
         display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
 }

      #product1 .pro{
        width: 20%;
        min-width: 250px;
        min-height: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 20px rgba(0,0,0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
      }
     #product1 .pro:hover{
    box-shadow: 20px 20px 20px rgba(0,0,0, 0.06);
 }
      
    #product1 .pro img{
        width: 100%;
        border-radius: 10px;
      }
   #product1 .pro .des{
     text-align: start;
     padding: 10px 0;

         }
   #product1 .pro .des span{
          color:#465b52 ;
          font-size: 12px;
            }

    #product1 .pro .des h5{
          padding-top: 7px;
          color: #222;
          font-size: 14px;
               }
   #product1 .pro .des i{
     font-size: 12px;
     color: rgb(243,181,25);
                  }
      #product1 .pro .des h4{
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: pink;
    }

        #product1 .pro .fa-shopping-cart{
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: pink;
            color: #222;
            border: 1px solid #cce7d0;
            position: absolute;
            bottom: 15px;
            right: 10px;
        }
#banner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image:url(Sales.jpg);
width: 100%;
height: 40vh;
background-size: cover;
background-position: center;
        }

        #banner h4{
    color: white;
    font-size: 16px;
        }
         #banner h2{
            color:#fff;
            font-size: 30px;
            padding:10px;
         }
               #banner h2 span{
                color:red;
            }
            #banner button:hover{
                background: #e84393;
                color: #fff;
            }

            #sm-banner{
              display:flex;
              justify-content: space-between;
              flex-wrap: wrap;
            }
            #sm-banner .banner-box{
                display: flex;
                flex-direction: column;
              justify-content: center;
               align-items: flex-start;
               background-image:url(banner1.jpeg);
               min-width: 510px;
               height: 40vh;
               background-size: cover;
                 background-position: center;
                  padding: 30px;
            }
               #sm-banner h4{
                color: #fff;
                font-size: 20px;
                font-weight: 300;
               }

              #sm-banner h2{ 
                color:#fff;
                font-size: 28px;
                font-weight: 800;

            }

            #sm-banner span{
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                padding-bottom: 15px;
            }

  button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;

            }
             #sm-banner .banner-box:hover button{
                background: pink;
                border:1px  solid pink;
             }
    #sm-banner .banner-box2{
         background-image:url(banner2.jpg);

    }
     #sm-banner .banner-box3{
         background-image:url(banner3.jpg);

    }
    #banner3{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding:0 80px;
    }
    #banner3 .banner-box{
         display: flex;
                flex-direction: column;
              justify-content: center;
               align-items: flex-start;
               background-image:url(banner3.jpg);
               min-width: 30%;
               height: 30vh;
               background-size: cover;
                 background-position: center;
               padding: 20px;
                 margin-bottom: 20px;
    }
    #banner3 .banner-box2{
               background-image:url(banner4.jpg);
             
    }
     #banner3 .banner-box3{
               background-image:url(banner5.jpeg);
            
                }
 #banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
 }
  #banner3 h3{
    color: white;
    font-weight: 800;
    font-size: 15px;
 }

 #newsletter{
    display: flex;
    justify-content: space-between;
    flex: wrap;
    align-items: center;
    background-image: url(news.jpg);
    background-repeat: no-repeat;
    background-position: 0% 30%;
   background-color: #cce7d0;
 }

  #newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #e84393;
  }
    #newsletter p{
        font-size: 14px;
        font-weight: 600;
        color: #465b52;
    }

     #newsletter p span{
        color: #e84393;
     }
#newsletter .form{
display: flex;
width: 40%;
}
     
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
  border-top-right-radius:0 ;
  border-bottom-right-radius: 0;

}
#newsletter button{
    background-color: pink;
    color:fff;
    white-space: nowrap;
     border-top-left-radius:0 ;
  border-bottom-left-radius: 0;

}

footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display:flex;
    flex-direction: column;
  align-items: flex-start;
  margin-bottom:20px;
    
}
footer .logo{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin:0 0 8px 0;
}

footer a {
     font-size: 13px;
     text-decoration: none;
     color:#222;
    margin-bottom:10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
 padding-right:4px ;
 cursor: pointer;
}
footer .install .row img{
    border: 1px solid pink;
    border-radius: 6px;

}
footer .install img{
    margin:10px 0 15px 0;
}
footer .follow i:hover,
follow a:hover
{
    color:pink;
}
 footer .copyright{
    width: 100%;
    text-align: center;

 }



 /*Media*/
 @media (max-width:799px) {

    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #cce7d0;
    box-shadow: 0 40px 60px;
    padding: 80px 0 0 10px;

}
#navbar .active{
    right: 0px;
}
  #navbar li{
    margin-bottom: 25px;
  }

#mobile{
 display: flex;
    align-items: center;

}
#mobile i{
color: #222;
font-size: 24px;
padding-left: 20px;
}
 }
